
















<!-- header -->
<div class="header" id="home">
	<div class="container">
		<ul>
			<nav class="main_nav">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li> <a href="#" data-toggle="modal" data-target="#myModal"></i> Sign In </a></li>
					<li> <a href="#" data-toggle="modal" data-target="#myModal2"></i> Sign Up </a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i> Contact : 6393241779</li>
					<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">manish271208@gmail.com</a></li>
				</ul>
			</nav>
		</ul>
	</div>
</div>
<!-- //header -->

<!-- Sign in drop down Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
                <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                <h3 class="agileinfo_sign">Sign In <span>Now</span></h3>
                            <form action="#" method="post">
                    <div class="styled-input agile-styled-input-top">
                        <input type="text" name="Name" required="">
                        <label>Name</label>
                        <span></span>
                    </div>
                    <div class="styled-input">
                        <input type="email" name="Email" required=""> 
                        <label>Email</label>
                        <span></span>
                    </div> 
                    <input type="submit" value="Sign In">
                </form>
                  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                                                    <li><a href="#" class="facebook">
                                                          <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                                          <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                                                    <li><a href="#" class="twitter"> 
                                                          <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                                          <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
                                                    <li><a href="#" class="instagram">
                                                          <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                                          <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                                                    <li><a href="#" class="pinterest">
                                                          <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                                          <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
                                                </ul>
                                                <div class="clearfix"></div>
                                                <p><a href="#" data-toggle="modal" data-target="#myModal2" > Don't have an account?</a></p>
                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="{% static 'images/log_pic.jpg' %}" alt=" "/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- Sign in drop down Modal1 -->

<!-- login -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content modal-info">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
			</div>
			<div class="modal-body modal-spa">
				<div class="login-grids">
					<div class="login">
						<div class="login-bottom">
							<h3>Shope here again</h3>
							<form>
								<div class="sign-up">
									<h4>Email :</h4>
									<input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
								</div>
								<div class="sign-up">
									<h4>Password :</h4>
									<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
									
								</div>
								<div class="sign-up">
									<h4>Re-type Password :</h4>
									<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
									
								</div>
								<div class="sign-up">
									<input type="submit" value="REGISTER NOW" >
								</div>
								
							</form>
						</div>
						<div class="login-right">
							<h3>Sign in with your account</h3>
							<form>
								<div class="sign-in">
									<h4>Email :</h4>
									<input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">	
								</div>
								<div class="sign-in">
									<h4>Password :</h4>
									<input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
									<a href="#">Forgot password?</a>
								</div>
								<div class="single-bottom">
									<input type="checkbox"  id="brand" value="">
									<label for="brand"><span></span>Remember Me.</label>
								</div>
								<div class="sign-in">
									<input type="submit" value="SIGNIN" >
								</div>
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
					<p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //login -->





<!-- Sign up drop down Modal1 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
                <div class="modal-body modal-body-sub_agile">
                <div class="col-md-8 modal_body_left modal_body_left1">
                <h3 class="agileinfo_sign">Sign Up <span>Now</span></h3>
                 <form action="#" method="post">
                    <div class="styled-input agile-styled-input-top">
                        <input type="text" name="Name" required="">
                        <label>Name</label>
                        <span></span>
                    </div>
                    <div class="styled-input">
                        <input type="email" name="Email" required=""> 
                        <label>Email</label>
                        <span></span>
                    </div> 
                    <div class="styled-input">
                        <input type="password" name="password" required=""> 
                        <label>Password</label>
                        <span></span>
                    </div> 
                    <div class="styled-input">
                        <input type="password" name="Confirm Password" required=""> 
                        <label>Confirm Password</label>
                        <span></span>
                    </div> 
                    <input type="submit" value="Sign Up">
                </form>
                  <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                                                    <li><a href="#" class="facebook">
                                                          <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                                          <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
                                                    <li><a href="#" class="twitter"> 
                                                          <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                                          <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
                                                    <li><a href="#" class="instagram">
                                                          <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                                          <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
                                                    <li><a href="#" class="pinterest">
                                                          <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                                          <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
                                                </ul>
                                                <div class="clearfix"></div>
                                                <p><a href="#">Good day is waiting for you</a></p>
                </div>
                <div class="col-md-4 modal_body_right modal_body_right1">
                    <img src="{% static 'images/log_pic.jpg' %}" alt=" "/>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //Modal content-->
    </div>
</div>
<!-- Sign up drop down Modal1 -->


















<!-- //banner -->
    <div class="banner_bottom_agile_info">
	    <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
    	           <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom1.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>			
						</figure>
					</div>
					 <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom2.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>F</span>all Ahead</h3>
								<p>New Arrivals</p>
							</figcaption>			
						</figure>
					</div>
					<div class="clearfix"></div>
		    </div> 
		 </div> 
    </div>
<!-- //banner -->























<!-- //counting -->
	<div class="schedule-bottom">
		<div class="col-md-6 agileinfo_schedule_bottom_left">
			<img src="{% static 'images/mid.jpg' %}" alt=" " class="img-responsive" />
		</div>
		<div class="col-md-6 agileits_schedule_bottom_right">
			<div class="w3ls_schedule_bottom_right_grid">
				<h3>Save up to <span>50%</span> in this week</h3>
				<p>Manish</p>

				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<h4>Customers</h4>
					<h5 class="counter">12</h5>
				</div>

				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-calendar-o" aria-hidden="true"></i>
					<h4>Events</h4>
					<h5 class="counter">823</h5>
				</div>

				<div class="col-md-4 w3l_schedule_bottom_right_grid1">
					<i class="fa fa-shield" aria-hidden="true"></i>
					<h4>Awards</h4>
					<h5 class="counter">45</h5>
				</div>

				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
<!-- //counting -->


























<!-- //schedule-bottom -->
  <!-- banner-bootom-w3-agileits -->
  <div class="banner-bootom-w3-agileits">
	<div class="container">
		<h3 class="wthree_text_info">What's <span>Trending</span></h3>	
		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">
			<a href="cart/womens">
			   <div class="bb-left-agileits-w3layouts-inner grid">
					<figure class="effect-roxy">
							<img src="{% static 'images/bb1.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>			
						</figure>
			    </div>
			</a>
		</div>
		<div class="col-md-7 bb-grids bb-middle-agileits-w3layouts">
		      <a href="cart/mens">
		       <div class="bb-middle-agileits-w3layouts grid">
			           <figure class="effect-roxy">
							<img src="{% static 'images/bottom3.jpg' %}" alt=" " class="img-responsive" />
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 55%</p>
							</figcaption>			
						</figure>
		        </div>
				</a>
				<a href="cart/mens">
		      <div class="bb-middle-agileits-w3layouts forth grid">
						<figure class="effect-roxy">
							<img src="{% static 'images/bottom4.jpg' %}" alt=" " class="img-responsive">
							<figcaption>
								<h3><span>S</span>ale </h3>
								<p>Upto 65%</p>
							</figcaption>		
						</figure>
					</div>
					</a>
		<div class="clearfix"></div>
	</div>
	</div>
    </div>
<!--/grids-->
      <div class="agile_last_double_sectionw3ls">
            <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="cart/womens"><img src="{% static 'images/bot_1.jpg' %}" alt=" "><h4>Flat <span>50%</span> offer</h4></a>	
			</div>
			 <div class="col-md-6 multi-gd-img multi-gd-text ">
					<a href="cart/womens"><img src="{% static 'images/bot_2.jpg' %}" alt=" "><h4>Flat <span>50%</span> offer</h4></a>
			</div>
			<div class="clearfix"></div>
	   </div>							
<!--/grids-->